html {
  font-family: sans-serif;
}

h3 {
  text-align: center;
}

.chart-container {
  width: 45vw;
  height: 22vw;
  display: inline-block;
  margin: 1vw;
}

@media (orientation: portrait), screen and (max-width: 1000px) {
  .chart-container {
    width: 90vw;
    height: 44vw;
  }
}

.outer-container {
  text-align: center;
}

#time-controls {
  text-align: center;
}
